<br />
<table>
		<tr>
			<th>Nome</th>
			<th>Titulação</th>
			<th>Admin</th>
			<th>Status</th>
		</tr>

		<% @avaliadores.each do |avaliador| %>
			<tr>
			<td><center><%= avaliador.nome %></td></center>
			<td><center><%= avaliador.titulacao %></td></center>
			<td><center><%= yes_or_no?(avaliador.admin) %></td></center>
			<td><center><%= status?(avaliador.ativo) %></td></center>
			</tr>
		<% end %>
</table>




