<% if @atividade.justificativa == nil %>
	<div class="info">
		Não há Justificativas! Aguarde Avaliação
	</div>
<% else %>
	<p>
		<font face="Impact, fantasy" size="5em" color= "#067120" >
			<br><b>Justificativa:</b></br><br>
		</font>
		<font face="Impact, fantasy" size="4em" color= "#067120" >
			<%= @atividade.justificativa %>
		</font>
	</p>
<%- end -%>