<p>Seja bem vindo <%= @resource.email %> às atividades complementares!</p>

<p>Voce pode confirmar seu cadastro através do link abaixo:</p>

<p><%= link_to 'Confirmar cadastro nas atividades complementares', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
