<p>Olá Sr(a) <%= @resource.email %>!</p>

<p>Você ou alguem solicitou a alteração de sua senha, e voce pode altera-la atraves desse link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Caso não tenha sido você quem solicitou, por-favor ignore este email.</p>
<p>Sua senha não irá sofrer alterações enquanto este link não for acessado.</p>
